*/.git
vim/plugged/*
config/hypr/wallpapers/*
config/hypr/configs/monitor.conf
config/hypr/scripts/translate/config.toml
config/hypr/configs/env_hidpi.conf
config/fcitx5/conf/notifications.conf
oh-my-zsh/plugins/zsh-autosuggestions
oh-my-zsh/plugins/zsh-syntax-highlighting
config/qutebrowser/qsettings/*
config/copyq/copyq_tabs.ini
*.dat
*.lock
*.pyc
