[submodule "nvim"]
	path = nvim
	url = git@github.com:bighu630/nvim.git
[submodule "vimrc"]
	path = vimrc
	url = git@github.com:bighu630/vimrc.git
[submodule "dwm"]
	path = dwm
	url = git@github.com:bighu630/dwm.git
