*/.git
.vscode/
.install.sh
vim/plugged/*
oh-my-zsh/plugins/zsh-autosuggestions
oh-my-zsh/plugins/zsh-syntax-highlighting
config/hypr/wallpapers
config/hypr/configs/monitor.conf
config/hypr/scripts/translate/config.toml
config/hypr/configs/env_hidpi.conf
config/fcitx5/conf/notifications.conf
config/qutebrowser/qsettings/
config/copyq/copyq_tabs.ini
config/copyq/copyq_geometry.ini
config/fcitx/dbus/
share/fcitx5/pinyin/
config/mpd/mpdstate
config/niri/monitor.kdl
config/mango/monitor.conf
*.dat
*lock
*.pyc
*.log
*.pid
*.db
*.sql
config/niri/monitor.kdl
