/* Color-Scheme For All Themes*/

* {
    background:       #7895acbb;
    background-alt:   #ffffffff;
    foreground:       #606060ee;
    border:           #5895DCff;
    selected:         #5895DCff;
    urgent:           #EC407Aff;
    logo:             #EC407Aff;
    on:               #61C766ff;
    off:              #EC7875ff;
}
