* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Liga SFMono Nerd Font;
  font-size: 16px;
}

@define-color backgroundlight #000000;
@define-color backgrounddark #000000;
@define-color workspacesbackground1 #000000;
@define-color workspacesbackground2 #222222;
@define-color bordercolor #000000;
@define-color textcolor1 #FFFFFF;
@define-color textcolor2 #FFFFFF;
@define-color textcolor3 #000000;
@define-color iconcolor #000000;

@define-color rosewater #f4dbd6;
@define-color flamingo #f0c6c6;
@define-color pink #f5bde6;
@define-color mauve #c6a0f6;
@define-color red #ed8796;
@define-color maroon #ee99a0;
@define-color peach #f5a97f;
@define-color yellow #eed49f;
@define-color green #a6da95;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #7dc4e4;
@define-color blue #8aadf4;
@define-color lavender #b7bdf8;
@define-color text #cad3f5;
@define-color subtext1 #b8c0e0;
@define-color subtext0 #a5adcb;
@define-color overlay2 #939ab7;
@define-color overlay1 #8087a2;
@define-color overlay0 #6e738d;
@define-color surface2 #5b6078;
@define-color surface1 #494d64;
@define-color surface0 #363a4f;
@define-color base #24273a;
@define-color mantle #1e2030;
@define-color crust #181926;


window#waybar {
  background-color: rgba(26, 27, 38, 0.5);
  color: @text;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-top: 8px transparent;
  border-radius: 8px;
  transition-duration: 0.5s;
  margin: 16px 16px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 0 5px;
  color: #7984A4;
  background-color: transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 0;
}

#workspaces button {
  padding: 5px 10px;
  margin: 0 3px;
  border-radius: 8px;
  background-color: transparent;
  color: #7984A4;
  border: none;
}

#workspaces button.focused {
  background-color: @sapphire;
  color: #2E3440;
}

#workspaces button.urgent {
  background-color: #BF616A;
  color: #ECEFF4;
}

#workspaces button:hover {
  background-color: #5E81AC;
  color: #ECEFF4;
}


#taskbar {
    /* border-radius: 0px 8px 8px 0; */
    border-radius: 9px;
    padding-right: 5px;
    padding-left: 5px;
    /* padding: 0 3px; */
    margin: 0 0px;
    color: #ffffff;
    background-color: rgba(120,118,117,0.3);
}
#taskbar button {
    min-width: 40px;
    border-radius: 4px;
    /* border-radius: 0px 0px 0px 0px; */
    padding: 0 0 0 0px;
    margin: 0 1 -2 -2px;
    color: #ffffff;
    background-color: rgba(120,118,117,0.4);
}

#taskbar button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 3px #ffffff;
}

#taskbar button.active {
    background-color: #94727D;
    box-shadow: inset 0 3px #24f3f2;
}

#cava {
    color: #b3f1ff;
    font-size: 8px;
}

#disk,
#temperature,
#custom-hyprPicker,
#custom-weather,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default {
  padding: 0 10px;
  color: #e5e5e5;
  /* color: #bf616a; */
  border-radius: 6.5px;
  background-color: @surface0;
}

#tray{
  background-color: @base;
  padding: 0 10px;
  color: #e5e5e5;
  border-radius: 6.5px;
  /* color: #bf616a; */
}

#custom-power-menu{
  padding: 0 10px;
  color: #e5e5e5;
  /* color: #bf616a; */
  border-radius: 6.5px;
  background-color: @mantle;
}
#pulseaudio{
  padding: 0 10px;
  color: #e5e5e5;
  /* color: #bf616a; */
  border-radius: 6.5px;
  background-color: @base;
}
#backlight{
  padding: 0 10px;
  color: #e5e5e5;
  /* color: #bf616a; */
  border-radius: 6.5px;
  background-color: @surface0;
}

#clock{
  padding: 0 10px;
  color: #e5e5e5;
  /* color: #bf616a; */
  border-radius: 6.5px;
  background-color: @base;
}

#battery,
#pulseaudio,
#custom-media,
#mode,
#idle_inhibitor,
#mpd,
#custom-spotify,
#bluetooth{
  padding: 0 10px;
  color: #e5e5e5;
  /* color: #bf616a; */
  border-radius: 6.5px;
  background-color: @base;
}
#custom-notify{
  padding: 0 10px;
  color: @sky;
  /* color: #bf616a; */
  border-radius: 6.5px;
  background-color: @base;
}


#window {
  padding: 0 10px;
  color: @text;
  border-radius: 6.5px;
  background-color: rgba(26, 27, 38, 0.3);
}


#workspaces {
    background: @mantle;
    margin: -5px 1px -6px 1px;
    padding: 0px 1px;
    border-radius: 65px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    opacity: 0.8;
    font-size: 16px;
    color: @textcolor1;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 15px;
    border: 0px;
    color: @textcolor1;
    background-color: @base;
    transition: all 0.3s ease-in-out;
    opacity: 0.4;
}

#workspaces button.active {
    color: @textcolor1;
    background: #63a1bf;
    border-radius: 15px;
    min-width: 30px;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#workspaces button:hover {
    color: @textcolor1;
    background: @surface0;
    border-radius: 15px;
    opacity:0.7;
}


#cpu {
  color: #fb958b;
  background-color: @surface1;
  border-radius: 7.5px;
}

#memory {
  color: #ebcb8b;
  background-color: @surface0;
  border-radius: 7.5px;
}

#custom-power-menu {
  border-radius: 9.5px;
  background-color: #1b242b;
  border-radius: 7.5px;
  padding: 0 5px;
}

#custom-notify base{
  color: #60caf5;
  border-radius: 8px;
  background-color: @crust;
  border-radius: 7.5px;
  padding: 0 5px;
}


#custom-launcher {
  background-color: @base;
  color: #6a92d7;
  border-radius: 7.5px;
  padding: 0 3px;
}

#custom-weather.severe {
  color: #eb937d;
}

#custom-weather.sunnyDay {
  color: #c2ca76;
}

#custom-weather.clearNight {
  color: #cad3f5;
}

#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight {
  color: #c2ddda;
}

#custom-weather.rainyDay,
#custom-weather.rainyNight {
  color: #5aaca5;
}

#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight {
  color: #d6e7e5;
}

#custom-weather.default {
  color: #dbd9d8;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#pulseaudio {
  color: #7d9bba;
}

#backlight {
  /* color: #EBCB8B; */
  color: #8fbcbb;
}

#clock {
  color: #c8d2e0;
  /* background-color: #14141e; */
}

#battery {
  color: #c0caf5;
  /* background-color: #90b1b1; */
}

#battery.charging,
#battery.full,
#battery.plugged {
  color: #26a65b;
  /* background-color: #26a65b; */
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#disk {
  background-color: #964b00;
}

#bluetooth {
  color: #707d9d;
}

#bluetooth.disconnected {
  color: #f53c3c;
}

#network {
  color: #b48ead;
  background-color: @surface0;
  border-radius: 7.5px;
}
#custom-speed {
  border-radius: 7.5px;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  color: #51a37a;
}

#mpd.disconnected {
  color: #f53c3c;
}

#mpd.stopped {
  color: #90b1b1;
}

#mpd.paused {
  color: #2a5c45;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#custom-spotify {
  padding: 0 10px;
  margin: 0 4px;
  /* background-color: #1db954; */
  color: #abb2bf;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}
