layout {

    focus-ring {
        active-color   "#93ccff"
        inactive-color "#14121c"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#93ccff"
        inactive-color "#14121c"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#93ccff"
        inactive-color "#004b74"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#93ccff80"
    }
}

recent-windows {
    highlight {
        active-color "#93ccff"
        urgent-color "#ffb4ab"
    }
}
