layout {

    focus-ring {
        active-color   "#b2c5ff"
        inactive-color "#131316"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#b2c5ff"
        inactive-color "#131316"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#b2c5ff"
        inactive-color "#20428f"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#b2c5ff80"
    }
}

recent-windows {
    highlight {
        active-color "#b2c5ff"
        urgent-color "#ffb4ab"
    }
}
